@{
    ViewBag.Title = "LocalStorage";
}

<h2>LocalStorage</h2>

		<meta charset="utf-8" />	
        
	<body id="login">
		<div id="wrapper">
		<div id="login-wrapper" class="png_bg">
			<div id="login-top">
				<img src="treemoLabs-logo.png" alt="Treemo Labs Dashboard" title="Powered By Treemo Labs" />			
			</div>
			
			<div id="login-content">
								<div class="error"><!--to unhide if error-->
					Invalid Username				</div>
								<form method="post">					
					<p>
						<label>Username</label>
						<input value="sasd" id="user" name="username" class="text-input" type="text" />
					</p>
					<br style="clear: both;" />
					<p>
						<label>Password</label>
						<input id="pass" name="password" class="text-input" type="password" />
					</p>
					<br style="clear: both;" />
					<p>
						<input class="button" id="submit" type="submit" value="Sign In" />
					</p>
					
				</form>
			</div>
		</div>
		<div id="dummy"></div>
		<div id="dummy2"></div>
        </div>
       
  </body>
