@{
    ViewBag.Title = "PingPong";
}

<h2>PingPong</h2>
<head>
    <script src="~/Script/jQuery.js"></script>
    <link href="~/Content/PingPong.css" rel="stylesheet" />
    <script src="~/Script/PingPong.js"></script>
</head>
<body>
	<h2 class="description">use "w" and "s" and arrow-up,arrow-down to move</h2>
	<div id="game">
		<div id="playground">
		<div id="paddleA" class="paddle"></div>
		<div id="paddleB" class="paddle"></div>
		<div id="ball"></div>
		</div>
	</div>
</body>